<h3>Estableciendo el entorno básico:</h3>
<p>Antes de empezar primero vamos a disponer del entorno básico para crear una aplicación simple en AngularJS.</p>

<ol>
    <li>Un Editor de texto.</li>
    <li>Un navegador web.</li>
    <li>Un servidor local o externo.</li>
</ol>

<h5>El siguiente código HTML5 sera nuestra plantilla base:</h5>
<p > Directivas usadas: <span class="label label-info ng-non-bindable">ng-app</span> </p>
<hr>

<pre class="prettyprint ng-non-bindable">&lt;!DOCTYPE html&gt;<br/>&lt;html ng-app&gt;<br/>&lt;head&gt;<br/>    &lt;meta charset = &quot;UTF-8&quot; /&gt;<br/>    &lt;title&gt;AngularJs - Plantilla Base&lt;/title&gt;<br/>    &lt;link rel=&quot;stylesheet&quot; href=&quot;css/bootstrap.min.css&quot; media=&quot;screen&quot;&gt;<br/>&lt;/head&gt;<br/>&lt;body style=&quot;padding:10px;border:1px dashed black;border-radius:3px;margin:10px;&quot;&gt;<br/><br/>&lt;h5&gt;Plantilla Base&lt;/h5&gt;<br/><br/>&lt;script type=&quot;text/javascript&quot; src=&quot;js/angular.min.js&quot;&gt;&lt;/script&gt;<br/>&lt;/body&gt;<br/>&lt;/html&gt;</pre>

<h5>Explicando la directiva:</h5>

<ol>
    <li>La directiva <span class="label label-info ng-non-bindable">ng-app</span> define el dominio donde AngularJS va a trabajar. En este caso es en todo el documento html. Vale destacar que sólo una directiva <span class="label label-info ng-non-bindable">ng-app</span> por documento HTML puede ser declarada.</li>
</ol>

<hr>

<div class="alert alert-info">
    <p>Vale destacar que AngularJS esta integrado parcialmente con Bootstrap por lo tanto solo es necesario indicar la cascada y las imágenes para disponer de prácticamente todas las características o ventajas que tiene Bootstrap, además también está integrado con la versión liviana de jQuery llamada jqLite.</p>
    <p>Descarga e instala Bootstrap, vamos a usarlo para crear vistas agradables a la vista. Link: http://twitter.github.com/bootstrap/index.html</p>
    <p>Si la versión completa de jQuery es cargada antes que ocurra el evento DOMContentLoaded, tendrá prioridad sobre la versión integrada de jqLite.</p>
    <p>La lista completa de los métodos de jqLite esta disponible en la sección: global APIs, bajo el nombre: angular.element, Link: http://docs.angularjs.org/api/angular.element</p>
</div>