<div class="row">
    <div class="col-md-12">

        <h2 style="margin-top: 0" class="page-header">Estas notas pretenden darte visión general de AngularJS, desde lo básico hasta los tópicos más complejos.</h2>

        <h4>Tabla de contenido:</h4>

        <ol>
            <li><a href="#/estableciendo-el-entorno-basico">Estableciendo el entorno básico</a></li>
            <li><a href="#/iterar-un-array-de-objetos">Iterar un array de objetos</a></li>
            <li><a href="#/lista-de-tareas">Lista de tareas</a></li>
        </ol>

    </div>
</div>