<script type="text/ng-template" id="my-template.html">
  <div ng-repeat="num in [1,2,3,4]">
    {{num}}
  </div>
</script>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Maximizing AngularJS Directives:</h3>
  </div>
  <div class="panel-body">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Building a simple element directive</h3>
      </div>
      <div class="panel-body">
        <my-directive></my-directive>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Working through the directive spectrum</h3>
      </div>
      <div class="panel-body">
        <h4 class="page-header" >The element directive</h4>
        <h5>The element directive with replace property undefined</h5>
        <element-directive data-some-attr="myValue">
          <div class="well well-sm">Element Directive Example</div>
        </element-directive>

        <h5>The element directive with replace property set true; (remplace:true)</h5>
        <element-directive-remplace data-some-attr="myValue">
          <div class="well well-sm">Element Directive Replace Example</div>
        </element-directive-remplace>

        <h4 class="page-header" >The attribute directive</h4>

        <div class="well well-sm" data-attribute-directive="aval" data-some-attr="myValue">
          The attribute directive
        </div>

        <h4 class="page-header" >The class directive</h4>

        <div class="class-directive: cval; normal-class" data-some-attr="myValue">
          The class directive
        </div>
      </div>
    </div>


    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Manipulating the DOM</h3>
      </div>
      <div class="panel-body">
        <button data-counter>Counter</button>
        <button data-counter data-incr="5">Counter with incr=5</button>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Linking directives</h3>
      </div>
      <div class="panel-body">
        <div data-vector-text data-buffer="300"> The vectorText directive </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Interfacing with a directive using isolate scope</h3>
      </div>
      <div class="panel-body">
        <div ng-controller="IsolateScopeController">
          controller space
          <div iso>ISO directive space</div>
        </div>
      </div>
    </div>



  </div>
</div>
