<!DOCTYPE html>
<html>
<head>
	<meta charset = "UTF-8" />
	<title>Angular</title>
   
    <link rel="stylesheet" href="../css/vendor/bootstrap/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="../css/vendor/bootstrap/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="../css/vendor/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="../css/base.css" >
    
</head>
  <body style="padding: 10px;border: 1px dashed;border-radius: 3px;margin: 10px;">



    <!--
    <h3>App 1</h3>
    
	<div ng-controller="MyController">
      Your name:
        <input type="text" ng-model="username">
        <button ng-click='sayHello()'>greet</button>
      <hr>
      {{greeting}}
    </div>
	-->
	
	<!-- 
	
	<h3>App 2</h3>
	
	<div ng-controller="FormController">
			
			<div class="control-group">
				<label class="control-label" for="UserName">Primer Nombre</label>
				<div class="controls">
					<div class="input-prepend" style="display: inline;">
                        <span class="add-on"><i class="icon-user"></i></span><input ng-model="UserName" type="text" id="UserName" name="UserName" placeholder="Eje: Maria">
                    </div>
					<span style="display:none;  margin-top: 5px; margin-left: 7px;" class="help-inline">Requerido</span>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="UserEmail">Correo</label>
				<div class="controls">
					<div class="input-prepend" style="display: inline;">
                        <span class="add-on"><i class="icon-envelope"></i></span><input ng-model="UserEmail" type="text" id="UserEmail" name="UserEmail" placeholder="Eje: maria@gmail.com">
                    </div>
					<span style="display:none; margin-top: 5px; margin-left: 7px;" class="help-inline">Requerido</span>
				</div>
			</div>
	
			<button type="submit" ng-click="sayHello()" class="btn btn-primary">Enviar</button>	
		
		<hr>
		{{data}}	
		
	
	</div>
	-->

    <!--
    Todo - Todo Lists App Tutorial
    @author - Romel Gomez
    @date - 23/02/13
    @time - 05:49 PM
    -->
    <!--

    <h3>App 3</h3>

    <div ng-controller="TodoList">
		
		<span> Lista de tareas:	</span> {{get_todo_lists()}}
		
		<hr>
		
		<ul class="unstyled">
			<li ng-repeat="todo in todo_lists">
				<label class="checkbox">
					<input type="checkbox" ng-model="todo.status"> <span class="status-{{todo.status}}" >{{todo.text}}</span> 
				</label>
			</li>
		</ul>
		
		<hr>
		
		<form class="form-inline">
			<div class="input-prepend">
				<span class="add-on"><i class="icon-plus"></i></span><input ng-model="task" id="task" name="task" type="text" placeholder="Eje: Estudiar Matematica">
			</div>
			<button ng-click="addTask()" class="btn">Anotar Tarea</button>
		</form>
		
		
		<button ng-click="removeTask()" type="button" class="btn btn-danger"><i class="icon-warning-sign"></i> Remover las tareas completadas</button>
		
    </div>

    -->
    <!--
     Todo - Una descripción
     @author - Romel Gomez
     @date - 07/03/13
     @time - 04:34 PM
    -->


    <!--
    Todo - Twitter Search App Tutorial
    @author - Romel Gomez
    @date - 23/02/13
    @time - 05:20 PM
    -->
    <h5>AngularJS Twitter Search Tutorial </h5>

    <div ng-app="TwitterModule" >
        <div  ng-controller="TwitterController">

            <form class="form-inline">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-plus"></i></span><input ng-model="searchTerm" type="text" placeholder="Eje: AngularJs ">
                </div>
                <button ng-click="search()" class="btn">Buscar Twitts</button>
            </form>

            <table  class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Tweets</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="tweet in twitterResult.results"  >
                        <td><code>{{tweet.from_user}}</code></td>
                        <td>{{tweet.text}}</td>
                        <td>{{tweet.created_at}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

    <!--
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Todo List Test</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="data in jsonDataResult.results"  >
            <td><code>{{data.status}}</code></td>
            <td>{{data.text}}</td>
        </tr>
        </tbody>
    </table>
    -->

    <!-- <h5>AngularJS - Directive Tutorial</h5> -->


   	<script type="text/javascript" src="js/vendor/angular-js/angular.min.js"></script>
   	<script type="text/javascript" src="js/vendor/angular-js/angular-resource.min.js"></script>

    <!--
   	<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="js/jquery.validate.js"></script>
	<script type="text/javascript" src="js/jquery.validate-additional-methods.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/underscore-min.js"></script>
	<script type="text/javascript" src="js/base.js"></script>
    -->

    <script type="text/javascript" src="js/base.angular.js"></script>
    
  </body>
</html>
